
body {
  margin: 0;
}
div {
  box-sizing: border-box;
}
h1 {
  font-size: 30px;
}
h4 {
  font-size: 22px;
}

@font-face{
    font-family:'작명!!!';
    src : url()
    /*font-weight : 800;*/
    font-family: 'gulim';
}

/*div,input,textarea {
    box-sizing: border-box;
}
*/


.profile {
width: 100px; 
display: block; 
margin-left: auto; 
margin-right: auto;
}

.img {
    text-align: center;
    font-size: 16px;
}

.content{
    color: red
}

.main-background{
    /*width: 100%;
    height: 500px;
    background-image: url(../img/shoes.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 1px;*/
    background-image: linear-gradient(to bottom, #499add, #4e61c0);
    height: 550px;
    padding: 20px;
    color: white;
}

.main-title{
    color: white;
    font-size: 40px;
    align-items: center;
}

.main-content{
    color: white;
}

.main-button{
    
    padding: 15px;
    font-size: 20px;
    background: white;
    border: none;
    border-radius: 5px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 150px;
}
.explain-box {
    width: 80%;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    text-align: center;
    background-color: #eee;
    position: relative;
    top: -40px
}




.login-email {
    background-color:aqua;
}

.form-background {
    background-color: black;
    padding: 30px;
}

.form-white {
    background-color: white;
    padding: 30px;
    width: 80%;
    max-width: 600px;
    margin: auto;
}

.form-input {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border:1px solid black;
    border-radius: 5px;
    
}

.w-50 {
    width: 50%;
    float: left;
    padding: 10px;
}

.w-100 {
    width: 100%;
    padding: 10px;
}

.yellow-button {
    padding: 10px;
    background-color:yellow;
    display: block;
    margin-left: auto;
}

td,th {
   /* border: 1px solid black;*/
}

.cart-table td,.cart-table td{
    padding: 15px;
    border: 1px solid #c2d3de;
}

table {
    border-collapse: collapse;
}



.cart-background {
    width: 100%;
    background-color: #c2d3de;
    padding: 30px;
}

.cart-table {
    width: 100%;
    max-width: 700px;
    margin: auto;
    background: white;
    border-radius: 10px;
}

.cart-table td:nth-child(2) {
    width: 400px
}



.btn {
    padding: 15px 20px;
    font-size: 16px;
    font-family: 'nanumsquare';
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.btn-black {
  background: #444;
  color: white;
}
.btn-black:hover {
  마우스올렸을시 스타일
}
.btn-black:active {
  커서가찍혔을시 스타일 
}
.btn:hover {
    background-color: chocolate;
}
.btn:focus{
    background-color: gray;
}
.btn:active {
    background-color: brown;
    border: 2px solid black;
}


.input-test {
    font-size: 20px;
}
input-test {
    border: 2px solid red;
}

.custom-link {
    text-decoration: none;
}
.custom-link:link{
    color: skyblue;
}
.custom-link:visited{
    color:black;
}

.flex-item {
    width: 100px;
    height: 100px;
    background-color: gray;
    margin: 5px;
}

.flex-container {
    display: flex;
    /*justify-content: center;*/
    /*flex-direction: column*/
    height: 500px;
    align-items: center;
    justify-content: center;
}

.nav-container {
    display: flex;
    height: 40px;
    align-items: center;
    padding: 10px;
}

.nav-item {
    margin-right: 10px;
}

.test {
    width: 10rem;
    height: 50vh;
    background: grey;
}


.product-container {
    width: 80%;
    max-width: 1000px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
.product-container div{
    float: left;
    width: 25%;
    text-align: center;
}

@media screen and (max-width: 1200px) {
    .main-title{
        font-size: 30px
    }
    /*.nav-item{
        font-size: 12px;
    }*/
    .product-container div{
        width: 50%;
    }
    .product-container {
        max-width: 600px;
    }
}

@media screen and (max-width: 768px) {
    .main-title{
        font-size: 20px
    }
    .product-container div{
        width: 100%;
    }
}

.product-container i {
    background-color: burlywood;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    padding-top: 25px;
    box-sizing: border-box;
    color: white;
    margin-top: 20px;
}

.shop-bg {
    background-color: #eee;
    padding: 20px;
}

.shop-container {
    display: flex;
    width: 90%
    margin: auto;
}
.shop-itme {
    width: 33%;
    padding: 10px;
}


.shop-item img {
    width: 100%;
    display: block;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    opacity: 1;
    transition: all 1s;
    transition-timing-function: cubic-bezier(0,1.05,.48,1.01);
}
.overlay:hover {
    opacity: 1;
}


.overlay-warp {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.overlay-wrap:hover .overlay-black {
    margin-top: 50%;
}


.overlay-black {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    margin-top:100%;
    transition: all 1s;
}

.main-container {
    max-width: 1200px;
    margin: auto;
}

.main-text {
    float: left;
    margin-top: 50px;
}

.main-iphone {
    width: 400px;
  float: right;
  margin-top: 95px;
}
@media screen and (max-width : 992px) {
  .main-iphone {
    width: 260px;
    display: block;
    float: none;
    margin: auto;
    margin-top: 42px;
  }
  .main-text {
    float: none;
    margin-top: 50px;
    text-align: center;
  }
}